<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.muhammadzeeshan.aims_new">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.Splash" />
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.CreateAsset" />
        <activity android:name=".Activity.ViewAsset" />
        <activity android:name=".Activity.Templates.CheckOutTemplate" />
        <activity android:name=".Activity.Templates.CheckInTemplate" />
        <activity android:name=".Activity.Templates.InspectTemplate" />
        <activity android:name=".Activity.TemplateManagement" />
        <activity android:name=".Activity.CreateTemplate" />
        <activity android:name=".Activity.Templates.AssetTemplate" />
        <activity android:name=".Activity.TemplateDetails.AssetTemplateDetails" />
        <activity android:name=".Activity.TemplateDetails.CheckOutDetails" />
        <activity android:name=".Activity.TemplateDetails.AssetDetails"></activity>
    </application>

</manifest>